
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: white;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9e9e9e;
  color: rgb(9, 10, 10);
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-left: 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  color: #153677;
}

.converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  overflow-y: auto;
  max-height: 80vh;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-group select,
.input-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group select {
  width: 150px;
  color: black;
  margin-right: 0.5rem;
}

.equal {
  font-size: 2rem;
  margin: 1rem 0;
  color: aqua;
}

h2 {
  text-decoration: solid;
}

.error {
  color: red;
  font-size: 14px;
  width: 10%;
  height: 50vh;
  margin-top: 6rem;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .input-group select {
    width: 100px;
  }
}



